.list{ /*trash can icon*/
    color: #4E4E4E;
    width: 300px;
    margin: 20px auto;
    height: 50px;
    background-color: #E5E5E5;
    border-color: #000;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
}
.list p{
    padding: 10px;
    position: relative;
    transition: ease-in-out;
}
.list p input{
    background-color: transparent;
    border: 0;
    color: #4E4E4E;
    font-size: 18px;
}
.hi{
    text-decoration: line-through;
}
.list p input:focus{
    outline: none;
}
.list p span{
    position: absolute;
    right: 10px;
}
.faicons{
    margin: 0 5px;
    font-size: 15px;
    cursor: pointer;
}
.itemsAnim-enter{
    opacity: 0.01;
}
.itemsAnim-enter .itemsAnim-enter-active{
    opacity: 1;
    transition: opacity 300ms ease-in
}
.itemsAnim-leave{
    opacity: 1;
}
.itemsAnim-leave .itemsAnim-leave-active{
    opacity: 0.01;
    transition: opacity 300ms ease-in
}

.line {
  text-decoration: line-through;

}