.list{ 
    color: #4E4E4E;
    width: 300px;
    height: 20px;
    background-color: transparent;
    margin: 10px;
}
.list .taskItem{
    padding-top:15px;
    display: flex;
    align-items: flex-start;
    transition: ease-in-out;
    margin-left:10px;
}

.list .taskItem input[type=checkbox]{
    margin-top:5px;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
}

.list .taskItem input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 1px solid #555555;
    border-radius: 3px;
    background-color: #E5E5E5;
}

.list .taskItem input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 5px;
}

.list .taskItem input[type=checkbox]:checked:after {
  background-color: transparent;
  color: #fff;
}

.list .taskItem label{
    font-weight: bold;
    font-size: 1em;
    margin-left: 1em;

}
.list .taskItem input{
    background-color: transparent;
    border: 0;
    color: #4E4E4E;
    font-size: 1em;
}

.list .taskItem input[type = text]{
    margin-left: 1em;
}

.list .taskItem input:focus{
    outline: thin;
}
.list .taskItem span{
    position: absolute;
    right: 10px;
}
.faicons{
    margin: 0 5px;
    font-size: 15px;
    cursor: pointer;
}
.itemsAnim-enter{
    opacity: 0.01;
}
.itemsAnim-enter .itemsAnim-enter-active{
    opacity: 1;
    transition: opacity 300ms ease-in
}
.itemsAnim-leave{
    opacity: 1;
}
.itemsAnim-leave .itemsAnim-leave-active{
    opacity: 0.01;
    transition: opacity 300ms ease-in
}

.line {
  text-decoration: line-through;

}